<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czh.labmaster.mapper.LabMapper">
<!--  <resultMap id="ResultMaplab" type="com.czh.labmaster.model.Labs">-->
<!--    <result property="id" column="id" jdbcType="INTEGER"/>-->
<!--    <result property="name" column="name" jdbcType="VARCHAR"/>-->
<!--    <result property="major" column="major" jdbcType="VARCHAR"/>-->
<!--    <result property="num" column="num" jdbcType="INTEGER"/>-->
<!--    <result property="state" column="state" jdbcType="VARCHAR"/>-->
<!--   </resultMap>-->
  <insert id="addlab">
    insert into labs(labname,labnum) value (#{labname},#{labnum})
  </insert>
  <update id="revise">
    update labs set labname = #{labname},labnum= #{labnum} WHERE id = #{id}
  </update>
  <update id="upState">
    update labs set state = #{state} where id=#{id}
  </update>
  <select id="findAll" resultType="com.czh.labmaster.model.Week">
    select * from week group by week
  </select>
  <select id="selectBylabnum" resultType="com.czh.labmaster.model.Labs">
    select * FROM labs where labnum = #{labnum}
  </select>
  <select id="selectPageByLabname" resultType="com.czh.labmaster.model.Labs">
    select * from labs where labname like #{labname}
  </select>
</mapper>