<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czh.labmaster.mapper.LabMapper">
  <resultMap id="ResultMaplab" type="com.czh.labmaster.model.Lab">
    <result property="id" column="id" jdbcType="INTEGER"/>
    <result property="name" column="name" jdbcType="VARCHAR"/>
    <result property="major" column="major" jdbcType="VARCHAR"/>
    <result property="num" column="num" jdbcType="INTEGER"/>
    <result property="state" column="state" jdbcType="VARCHAR"/>
   </resultMap>
  <insert id="addlab">
    insert into lab(name,major,num,state) value (#{name},#{major},#{num},#{state})
  </insert>
  <update id="revise">
    update lab set name = #{name},major= #{major}, num= #{num} WHERE id = #{id}
  </update>
  <update id="upState">
    update lab set state = #{state} where id=#{id}
  </update>
  <select id="selectPageVo" resultType="com.czh.labmaster.model.Lab">
    select * from lab  where major like #{major}
  </select>
</mapper>