<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czh.labmaster.mapper.OrdersMapper">
  <resultMap id="ResultMaporders" type="com.czh.labmaster.model.Orders">
    <result property="id" column="id" jdbcType="INTEGER"/>
    <result property="username" column="username" jdbcType="VARCHAR"/>
    <result property="labname" column="labname" jdbcType="VARCHAR"/>
    <result property="starttime" column="starttime" jdbcType="INTEGER"/>
    <result property="endtime" column="endtime" jdbcType="INTEGER"/>
  </resultMap>

  <insert id="order">
    INSERT INTO orders(username,labname,starttime,endtime,lid)VALUES(#{username}, #{labname}, #{starttime}, #{endtime},#{lid})
  </insert>
  <select id="findTime" parameterType="com.czh.labmaster.model.Orders" resultMap="ResultMaporders">
    SELECT starttime,endtime FROM orders WHERE labname = #{labname}
  </select>
  <select id="selectPageMyOrder" resultType="com.czh.labmaster.model.Orders">
    SELECT * FROM orders WHERE username = #{username}
  </select>
</mapper>