<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czh.labmaster.mapper.UserMapper">
  <update id="revise">
    update user set password = #{password},repassword= #{repassword},email= #{email} WHERE id = #{id}
  </update>
  <!-- 登录 -->
  <select id="findAll" resultType="com.czh.labmaster.model.User">
    select * from User
  </select>
  <select id="findByName" resultType="com.czh.labmaster.model.User">
    select * from User where username = #{username}
  </select>
  <select id="findPswByName" resultType="String">
    select password from user where username = #{username}
  </select>
  <select id="selectPageVo" resultType="com.czh.labmaster.model.User">
    select * from user  where username like #{username}
  </select>
  <insert id="save">
    insert into user(username,password,email,repassword) value (#{username},#{password},#{email},#{repassword})
  </insert>
</mapper>