<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czh.labmaster.mapper.UserOrdersMapper">
  <insert id="addorders">
    INSERT INTO user_orders(username,labname,labnum,date,create_time) VALUES (#{username},#{labname},#{labnum},#{date},current_timestamp)
  </insert>

  <select id="selectPageMyOrder" resultType="com.czh.labmaster.model.UserOrders">
    select * from user_orders where username=#{username}
  </select>
  <select id="findByUsernameAndDate" resultType="com.czh.labmaster.model.UserOrders">
    select * from user_orders where username=#{username} and labnum=#{labnum} and labname=#{labname} and date=#{date}
  </select>
  <select id="selectPageUserOrderByName" resultType="com.czh.labmaster.model.UserOrders">
    SELECT * FROM user_orders WHERE username LIKE #{username}
  </select>
</mapper>