<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czh.labmaster.mapper.WeekMapper">
  <select id="findAll" resultType="com.czh.labmaster.model.Week">
    SELECT DISTINCT week FROM week WHERE termstate = #{termstate}
  </select>
  <select id="checkLabByWeek" resultType="com.czh.labmaster.model.Week">
    select * from week WHERE `week` = #{week}
  </select>
  <select id="findAllday" resultType="com.czh.labmaster.model.Week">
    select * from week where termstate = #{termstate}
  </select>
</mapper>